<footer>
    <div class="content">
        <div class="name-content" (click)="scrollToTop()">
            <span class="initials">DT</span>
            <span class="name">Dominik Tockloth</span>
        </div>
        <span>{{'footer.dev' | translate}}
        </span>
        <span>Neuss - {{'footer.west' | translate}} - {{'footer.ger' | translate}}</span>
    </div>
    <div class="content responsive"><span class="green">© Dominik Tockloth 2024
        </span></div>
    <div class="links">
        <a href="https://github.com/DominikTockloth" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/dominik-tockloth-50084b2b4/" target="_blank">LinkedIn</a>
        <a href="mailto:dominik.tockloth@gmx.de">Email</a>
        <a routerLink="legal-notice">{{'footer.legal' | translate}}</a>
    </div>
</footer>