<section>

    <div class="box">
        <h1>{{ 'legal.title' | translate }}</h1>
        <h3>{{'legal.info' | translate}}</h3>
        <span>Dominik Tockloth</span>
        <span>Kaarsterstrasse 148</span>
        <span>41462 Neuss</span>
        <h3>{{ 'legal.contact' | translate }}</h3>
        <span> {{ 'legal.phone' | translate }}: +49176 48067668</span>
        <span>E-Mail: dominik.tockloth&#64;gmx.de</span>
        <p>{{ 'legal.source' | translate }} : <a href="https://www.e-recht24.de"
                target="_blank">https://www.e-recht24.de</a></p>
        <h5>{{'legal.disclaimer' | translate}} :</h5>
        <h5>{{'legal.liability' | translate}}</h5>
        <p>{{ 'legal.liability-text'| translate}}</p>
        <h5>{{'legal.links' | translate}}</h5>
        <p>{{'legal.links-text' | translate}}</p>
        <h5>{{'legal.copy' | translate}}</h5>
        <p>{{'legal.copy-text' | translate}}</p>
        <h5>{{'legal.data' | translate}}</h5>
        <p>{{'legal.data-text' | translate}}</p>

    </div>
</section>