<div class="main">
    <!---------------------   Landing page section  ----------------------->
    <section class="center">
        <h4>{{'landing.dev' | translate}}</h4>
        <h1>Dominik Tockloth</h1>
        <div class="buttons">
            <a href="#projects">{{'landing.work' | translate}}</a>
            <a href="#contact">{{'landing.contact' |translate}}</a>
        </div>
    </section>

    <div class="border"><span><img src="./../../assets/img/arrow-down.png"></span>
        <div class="line"></div>
    </div>
    <div class="social-links">
        <a href="mailto:dominik.tockloth@gmx.de" class="rotate ma-bo-80">dominik.tockloth&#64;gmx.de</a>
        <a href="https://github.com/DominikTockloth" class="img" target="_blank"><img
                src="./../../assets/img/github.png"></a>
        <a href="https://www.linkedin.com/in/dominik-tockloth-50084b2b4/" target="_blank" class="img"> <img
                src="./../../assets/img/linked.png"></a>
        <div class="line-2"></div>
    </div>
    <div class="marquee">
        <div class="marquee-content">
            <span >{{'landing.dev' |translate}}</span><span class="dots"></span>
            <span>{{'landing.based' | translate}}</span><span class="dots"></span>
            <span>{{'landing.open' | translate}}</span><span class="dots"></span>
            <span>{{'landing.remote' | translate}}</span><span class="dots"></span>
        </div>
        <div class="marquee-content">
            <span >{{'landing.dev' |translate}}</span><span class="dots"></span>
            <span>{{'landing.based' | translate}}</span><span class="dots"></span>
            <span>{{'landing.open' | translate}}</span><span class="dots"></span>
            <span>{{'landing.remote' | translate}}</span><span class="dots"></span>
        </div>
        <div class="marquee-content">
            <span >{{'landing.dev' |translate}}</span><span class="dots"></span>
            <span>{{'landing.based' | translate}}</span><span class="dots"></span>
            <span>{{'landing.open' | translate}}</span><span class="dots"></span>
            <span>{{'landing.remote' | translate}}</span><span class="dots"></span>
        </div>
    </div>
</div>
<app-about-me></app-about-me>
<app-skills></app-skills>
<app-projects></app-projects>
<app-contact-form></app-contact-form>
<app-footer></app-footer>